
<main id="app" class="flex bg-ui h-screen">
  <phaser-game></phaser-game>
  <div class="">
    <h1 class="text-3xl text-[--body-text-color] font-bold underline">
      Hello world!
    </h1>
    <div>
      <button class="btn variant-neutral sz-md" (click)="changeScene()">
        <span class="btn-label">Change Scene</span>
      </button>
      <button class="btn variant-neutral sz-md" (click)="selectCharacter()">
        <span class="btn-label">Select Character</span>
      </button>
      <button class="btn variant-neutral sz-md" (click)="endTurn()">
        <span class="btn-label">End Turn</span>
      </button>
    </div>
    <div>
      <button class="button" [disabled]="canMoveSprite" (click)="moveSprite()">Toggle Movement</button>
    </div>
    <div class="spritePosition text-body">
      Sprite Position:
      <pre>{{ spritePosition | json }}</pre>
    </div>
    <div>
      <button class="btn variant-outline sz-md" (click)="addSprite()">
        <span class="btn-label">Add New Sprite</span>
      </button>
    </div>
  </div>
</main>
